.assets
.env
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
.coverage
/test_reports/pytest_report.json
botpy.log

# Syncthing conflict and temporary files
*.sync-conflict-*
*.tmp
.syncthing.*
/cmds/
/dev/
/zz-*/

