openpyxl
PyPDF2
ffmpeg-python
python-docx
python-pptx
graphviz
networkx
pydot
matplotlib
seaborn
schedule
#ultimate-notion
notion-client
pydub
pyserial
adafruit-ampy
esptool
pycel
PyMuPDF
solidpython
colormath
cairosvg
furl
nbformat
bs4